body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdfcf6;
}

.container {
  padding: 1rem 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.request-header {
  padding: 1rem;
  margin-left: 5%;
  margin-top: 3rem;
}

.back-arrow {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.search-sort-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.search-input {
  flex: 1;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-right: 1rem;
}

.sort-filter button {
  margin-left: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: #eee;
  border-radius: 8px;
  cursor: pointer;
}

.request-content {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}