@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    height: 100vh;
}

.main-container {
    background: #95B1EE;
    min-height: 100vh;
}

.yellow-circle {
    border-radius: 1331px;
    background: var(--Color-yellow-100, #E7F1A8);
    filter: blur(200px);

  
}
