@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    height: 100vh;
}

.main-container {
    min-height: 100vh;
}

.yellow-circle {
    border-radius: 1331px;
    background: var(--Color-yellow-100, #E7F1A8);
    filter: blur(200px);
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #c9d7f3;
}

.background2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #e0f7fa, #f1f8e9);
}

.blur-ellipse {
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 0;
}

.ellipse-1 {
  width: 400px;
  height: 400px;
  top: 250px;
  left: 300px;
  background: #E7F1A8;
  filter: blur(100px);
}

.ellipse-2 {
  width: 600px;
  height: 600px;
  top: 100px;
  left: 1000px;
  background: #81d4fa;
  filter: blur(100px);
}

.img-laptop{
  width: 600px;
  height: 600px;
  top: 100px;
  left: 1000px;
}

